<div class="wrapper">
  <div class="grid-container">
    <button ng-value="0" class="grid-item grey black-font">AC</button>
    <button class="grid-item grey black-font">+/-</button>
    <button class="grid-item grey black-font">%</button>
    <button class="grid-item orange">÷</button>
    <button class="grid-item navy">7</button>
    <button class="grid-item navy">8</button>
    <button class="grid-item navy">9</button>
    <button class="grid-item orange">×</button>
    <button class="grid-item navy">4</button>
    <button class="grid-item navy">5</button>
    <button class="grid-item navy">6</button>
    <button class="grid-item orange">−</button>
    <button class="grid-item navy">1</button>
    <button class="grid-item navy">2</button>
    <button class="grid-item navy">3</button>
    <button class="grid-item orange">+</button>
    <button class="grid-item zero navy">0</button>
    <button class="grid-item navy">.</button>
    <button class="grid-item orange">=</button>
  </div>
</div>
