<div class="wrapper">
  <div class="grid-container">
    <div class="grid-item grey">AC</div>
    <div class="grid-item grey">+/-</div>
    <div class="grid-item grey">%</div>
    <div class="grid-item orange">÷</div>
    <div class="grid-item navy">7</div>
    <div class="grid-item navy">8</div>
    <div class="grid-item navy">9</div>
    <div class="grid-item orange">×</div>
    <div class="grid-item navy">4</div>
    <div class="grid-item navy">5</div>
    <div class="grid-item navy">6</div>
    <div class="grid-item orange">−</div>
    <div class="grid-item navy">1</div>
    <div class="grid-item navy">2</div>
    <div class="grid-item navy">3</div>
    <div class="grid-item orange">+</div>
    <div class="grid-item zero navy">0</div>
    <div class="grid-item navy">.</div>
    <div class="grid-item orange">=</div>
  </div>
</div>
